<div class="container">
  <div>
    <h1>TODO APP</h1>

    <%= link_to 'New employee', new_employee_path, class: 'btn btn-secondary' %>
    <%= link_to 'New activity', new_activity_path, class: 'btn btn-primary' %>
  </div>
  <div class="row">





    <h1>Pending activities</h1>
    <table class="table" >
      <tr>
        <th>Name</th>
        <th>Wordays</th>
        <th>Employee</th>
        <th>Estatus</th>
        <th>Completed at</th>
        <th>Days late</th>
        <th>Edit</th>
      </tr>
      <%= render partial: 'activities/activity', collection: @activities.pending %>
    </table>

    <h1>Working activities</h1>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Wordays</th>
        <th>Employee</th>
        <th>Estatus</th>
        <th>Completed at</th>
        <th>Days late</th>
        <th>Edit</th>
      </tr>
      <%= render partial: 'activities/activity', collection: @activities.working %>
    </table>

    <h1>Finish activities</h1>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Wordays</th>
        <th>Employee</th>
        <th>Estatus</th>
        <th>Completed at</th>
        <th>Days late</th>
        <th>Edit</th>
      </tr>
      <%= render partial: 'activities/activity', collection: @activities.completed %>
    </table>
  </div>
</div>
