<h1>Hola</h1>

<%= link_to 'New employee', new_employee_path, class: 'button' %>
<%= link_to 'New activity', new_activity_path, class: 'button' %>

<table>
  <tr>
    <th>Name</th>
    <th>Wordays</th>
    <th>Employee</th>
    <th>Estatus</th>
    <th>Completed at</th>
    <th>Days late</th>
    <th>Edit</th>
  </tr>
  <tr>
    <%= render partial: 'activities/activity', collection: @activities.pending %>
  </tr>
</table>

<table>
  <tr>
    <th>Name</th>
    <th>Wordays</th>
    <th>Employee</th>
    <th>Estatus</th>
    <th>Completed at</th>
    <th>Days late</th>
    <th>Edit</th>
  </tr>
  <tr>
    <%= render partial: 'activities/activity', collection: @activities.working %>
  </tr>
</table>

<table>
  <tr>
    <th>Name</th>
    <th>Wordays</th>
    <th>Employee</th>
    <th>Estatus</th>
    <th>Completed at</th>
    <th>Days late</th>
    <th>Edit</th>
  </tr>
  <tr>
    <%= render partial: 'activities/activity', collection: @activities.completed %>
  </tr>
</table>